binds:
- port: 3001
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
            - "*"
          allowHeaders:
            - "*"
            - authorization
        jwtAuth:
          mode: strict
          providers:
            - issuer: "http://localhost:8081/realms/agentgateway"
              audiences: ["agentgateway-api"]
              jwks:
                url: "http://keycloak:8080/realms/agentgateway/protocol/openid-connect/certs"
        authorization:
          rules:
            - "'test-user' in jwt.groups"
        backendAuth:
          key: ""
      backends:
      - ai:
          name: gemini
          provider:
            gemini:
              model: gemini-2.0-flash
- port: 3000
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
            - "*"
          allowHeaders:
            - "*"
            - authorization
            - mcp-protocol-version
            - cache-control
      backends:
      - mcp:
          targets:
          - name: everything
            stdio:
              cmd: npx
              args: ["@modelcontextprotocol/server-everything"]