config:
  tracing:
    otlpEndpoint: http://jaeger:4317
    randomSampling: true
binds:
- port: 3001
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
            - "*"
          allowHeaders:
            - "*"
        backendAuth:
          key: ""
      backends:
      - ai:
          name: gemini
          provider:
            gemini:
              model: gemini-2.0-flash
- port: 3000
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
            - "*"
          allowHeaders:
            - "*"
      backends:
      - mcp:
          targets:
          - name: mcp
            mcp:
              host: http://mcp-add-server-container:5000/mcp/
          - name: everything
            stdio:
              cmd: npx
              args: ["@modelcontextprotocol/server-everything"]